body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator, .percentage-calculator {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.keypad, .percentage-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
}

button:active {
    background-color: #bbb;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
}
.rotate-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    z-index: 1000; /* Ensure the message appears above other content */
}

@media only screen and (min-width: 600px) {
    /* Hide the rotate message on screens wider than 600px (landscape orientation) */
    .rotate-message {
        display: none;
    }
}
